* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(147, 147, 147, 0.412);
}

header {
    background-color: rgba(130, 130, 130, 0.9);
    color: rgb(255, 255, 255);
    height: 6rem;
    width: calc(100% - 2rem); /* Resta el padding del body */
    margin: auto; /* Centra horizontalmente */
    border-radius: 10px;
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-shadow: 5px 5px 4px black;
}

.foto {
    display: flex;
    padding: 1rem;
}

.foto img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

main {
    width: calc(100% - 2rem); 
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 0.5rem;
}

/* Estilos iguales para todas las secciones */
.intro, .objetivos, .links_redes, .contacto, .hobbies, .tareas {
    background-color: rgba(105, 104, 104, 0.325);
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem;
    height: auto;
}

/* Estilos iguales para todos los h2 */
.intro h2, .objetivos h2, .links_redes h2, .contacto h2, .hobbies h2, .tareas h2 {
    text-align: center;
    color: black;
    text-shadow: 5px 5px 4px rgb(255, 255, 255);
}

.intro p {
    text-align: justify;
    margin-top: 0.5rem;
}

.objetivos ul, .hobbies ul {
    list-style-type: square;
    padding-left: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.objetivos ul li {
    margin-bottom: 0.3rem;
}

.links_redes p {
    text-align: center;
    margin: 1rem 0 1rem 0;
}

/* Aplicacion de display flex para colocar los elementos horizontalmente y alineado al centro*/
.social_media {
    display: flex;
    justify-content: center;  
    align-items: center;    
}

.social_media ul {
    display: flex;
    gap: 20px; 
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a {
    display: flex;    
    align-items: center;
    gap: 8px;                         
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;                    
    border-radius: 6px;   
    transition: 0.3s; 
}

.social_media ul li i {
    font-size: 22px;             
    color: red;
}

.social_media ul li a:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
}

.tareas ol {
    margin: 1rem 0 1rem 2rem;
    text-align: center;
}

.tareas ol li {
    font-size: 16px;
    color: #ff0000;
    margin-bottom: 0.7rem;     
    background-color: #000000;
    padding: 0.7rem;
    border-radius: 1rem;
    max-width: 18.8rem;
    font-weight: 500;
    transition: 0.4s;
}

.tareas ol li:hover {
    background-color: #ff0000;
    color: #000000;
    transform: scale(1.10);
    cursor: pointer;
}

.tareas h2 {
    margin-bottom: 1rem;
}

.tareas table {
    margin: auto; /* Esto lo que hace es centrar horizontalmente ya sea un contenedor */
    width: 80%;
    border-collapse: collapse; /* Esta propiedad lo que es que fusiona los bordes de las celdas de una tabla en un solo borde */
    color: red;
    margin-bottom: 1rem;
}

.tareas table thead tr th, 
.tareas table tbody tr td{
    border: 2px solid rgba(255, 0, 0, 0.536);
    padding: 0.7rem;
    background-color: rgb(0, 0, 0);
}
