* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center ;
    justify-content: center;
}

.foto {
    display: flex;
}

.foto img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
