* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    background-color: #0f0f0f;
    height: 6rem;
    width: calc(100% - 2rem); /* Resta el padding del body */
    margin: auto; /* Centra horizontalmente */
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

header h1 {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 20px rgb(255, 0, 0);
}

.foto {
    display: flex;
    padding: 1rem;
}

.foto img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
}

main {
    width: calc(100% - 2rem); 
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 1rem 0;
}

/* Estilos iguales para todas las secciones */
.intro, .objetivos, .links_redes, .hobbies, .tareas {
    background-color: #0f0f0f;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid #ff0000;
    padding: 0.5rem;
    height: auto;
    transition: 0.8s;
    color: white;
}

/* Estilos iguales para todos los h2 */
.intro h2, .objetivos h2, .links_redes h2, .social_media h2, .hobbies h2, .tareas h2 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 20px rgb(255, 0, 0);
}

/* Aplicamos efecto hover para todas las secciones */
.intro:hover,
.objetivos:hover,
.links_redes:hover,
.hobbies:hover,
.tareas:hover,
.formulario:hover {
    transform: scale(0.98);
}

.intro p {
    text-align: justify;
    margin-top: 0.5rem;
}

.objetivos ul, .hobbies ul {
    list-style-type: square;
    padding: 0.8rem 1.2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.objetivos ul li, .hobbies ul li {
    margin-bottom: 0.3rem;
}

.links_redes p {
    text-align: center;
    margin: 1rem 0 1rem 0;
}

/* Aplicacion de display flex para colocar los elementos horizontalmente y alineado al centro*/
.social_media {
    display: flex;
    justify-content: center;  
    align-items: center;    
}

.social_media ul {
    display: flex;
    gap: 20px; 
}

.social_media ul li {
    list-style: none;
}

.social_media ul li a {
    display: flex;    
    align-items: center;
    gap: 8px;                         
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;                    
    border-radius: 6px;   
    transition: 0.3s; 
}

.social_media ul li i {
    font-size: 22px;             
    color: red;
}

.social_media ul li a:hover {
    background-color: #0f0f0f;
    transform: scale(1.05);
}

.tareas ol {
    margin: 1rem 0 1rem 2rem;
    text-align: center;
}

.tareas ol li {
    font-size: 16px;
    color: #ff0000;
    margin-bottom: 0.7rem;     
    background-color: #000000;
    padding: 0.7rem;
    border-radius: 1rem;
    max-width: 18.8rem;
    font-weight: 500;
    transition: 0.4s;
}

.tareas ol li:hover {
    background-color: #ff0000;
    color: #000000;
    transform: scale(1.10);
    cursor: pointer;
}

.tareas h2 {
    margin-bottom: 1rem;
}

.tareas table {
    margin: auto; /* Esto lo que hace es centrar horizontalmente ya sea un contenedor */
    width: 80%;
    border-collapse: collapse; /* Esta propiedad lo que es que fusiona los bordes de las celdas de una tabla en un solo borde */
    color: red;
    margin-bottom: 1rem;
}

.tareas table thead tr th, 
.tareas table tbody tr td{
    border: 2px solid rgba(255, 0, 0, 0.536);
    padding: 0.7rem;
    background-color: rgb(0, 0, 0);
}

.formulario {
    margin: auto;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #0f0f0f;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.677);
    max-width: 28.1rem;
    border-radius: 0.8rem;
    color: white;
    transition: 0.8s;
}

.formulario h2 {
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    
}

.formulario form div {
    margin-bottom: 1.5rem;
}

.formulario label {
    display: block; /* Esta propiedad de display block hace que un elemento ocupe todo el ancho disponible de su contenedor osea el 100% */
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius:1rem;
    border: none;
    font-size: 1rem;
    outline: none; /* Esta propiedad sirve para quitar los bordes que aparecen alrededor*/ 
    transition: 0.3s;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.679);
    background-color: #000000;
    color: white;
    font-weight: 600;
}

.formulario textarea {
    resize: none; /* Esta propiedad sirve para que el usuario no pueda cambiar el tamaño del textarea ya que por defecto viene con eso */
}

.formulario input:focus, /* Esta propiedad de selector focus se usa para aplicar estilos a un elemento de formulario (como input) cuando este tiene el foco, es decir, cuando el usuario hace clic en él o lo selecciona para introducir texto. Su función principal es indicar visualmente al usuario en qué campo está escribiendo para mejorar la usabilidad y accesibilidad */
.formulario textarea:focus {
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.679);
    transform: scale(1.03);
}

.formulario button {
    width: 100%;
    padding: 0.7rem;
    background: red;
    color: white;
    font-size: 16px;
    font-weight:bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover {
    background-color: white;
    color: red;
    transform: scale(1.03);
}